@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-900 text-white;
}

@media (max-width: 640px) {
  /* For small devices */
  .container {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (min-width: 640px) {
  /* For medium devices */
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (min-width: 1024px) {
  /* For larger devices */
  .container {
    padding-left: 40px;
    padding-right: 40px;
  }
}
